@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
/* font-family: 'Raleway', sans-serif */

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* DISPLAY/BLOCK ==================== */
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.App {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: black;
}

/* SEARCH CONTAINER ================= */
#search-container {
  position: absolute;
  z-index: 3;
  top: 10%;
  transform: translateY(-10%);

}

#search-box {
  border: none;
  outline: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid rgba(255, 255, 255, .75);
  width: 75%;

  font-family: 'Raleway';
  font-size: 80px;
  font-weight: 300;
  color: rgba(255, 255, 255, .75);
}
#search-container button {
  width: 100px;
  padding: 1em 2em;
  outline: none;
  border: none;
}

/* EFFECTS CONTAINER ================ */
.screen-effect {
  position: absolute;
  left: 0;
  bottom: 200px;

  border: 2px dotted blue;
}
/* sunny screen effect */
#sunny-screen-effect {
  filter: brightness(75%);
}

/* RESULT CONTAINER ================== */
.result-container {
  position: absolute;
  left: 0;
  bottom: 200px;
  width: 100%;
  height: 300px;
  border: 2px dotted red;

}

/* FORECAST CONTAINER ================ */
.forecast-container {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 200px;
  width: 100%;

  color: green;
  border: 2px dotted green;
}
