@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
/* font-family: 'Raleway', sans-serif */

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* DISPLAY/BLOCK ==================== */
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.App {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: url('images/night_sky.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: 
    grayscale(75%)
    contrast(120%)
    brightness(.9);
    ;

    font-family: 'Raleway';

}

/* SEARCH CONTAINER ================= */
#search-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;


  /* border: 2px dotted pink; */
}
.search-nav,
.search-nav.show {
  transition: all 500ms ease-out;
}
.search-nav {
  position: absolute;
  /* 80px nav btn, 40px search btn, 5px margin, 4px border*/
  top: -129px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0, 0));
}
.search-nav.show {
  top: 0;
}
.search-nav button {
  width: 120px;
  height: 40px;
  padding: 0 !important;
  margin-top: 5px;
  background: rgba(255,255,255,.5);
  font-family: 'Raleway';
  font-weight: 500;
}
.dropdown-button,
.dropdown-button.show {
  opacity: .75;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,.15));
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0,0,0,.25));
  transition: all 250ms ease;
}
.dropdown-button {
  height: 80px;
  margin: 0 auto;
}
.dropdown-button.show {
  transform: scaleY(-1);
}
#search-box {
  border: none;
  outline: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid rgba(255, 255, 255, .5);
  width: 100%;

  font-size: 4em;
  font-weight: 300;
  color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 6px rgba(0,0,0,.15);
}
#search-box::placeholder {
  color: rgba(255, 255, 255, .15);
}
#search-container button {
  outline: none;
  border: none;
  padding: 1em 2em;
}

/* EFFECTS CONTAINER ================ */
.effects-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.screen-effect-show,
.screen-effect-hide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(10%) contrast(110%) brightness(0.9);
  transition: all 750ms ease;
}
.screen-effect-show {
  opacity: 1;
}
.screen-effect-hide {
  opacity: 0;
}
/* RESULT CONTAINER ================== */
#result-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  text-transform: lowercase;
  color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 4px rgba(0,0,0,.15);
}
.result-card-hide,
.result-card-show {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  width: 40%;
  width: clamp(320px, 40%, 400px);
  height: clamp(320px, 30%, 200px);
  transform: translate(-50%, -50%);

  z-index: 3;

  background-image: linear-gradient(135deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2px);
  /* border: 2px solid rgba(255, 255, 255, .3); */
  border-radius: 1em;
  box-shadow: 2px 2px 4px rgba(0,0,0,.25);

  transition: all 750ms ease-out;
}
.result-card-show {
  opacity: 1;
}
.result-card-hide {
  opacity: 0;
}
/* card content styling ============== */
#result-card-content {
  margin: 1em;
  display: flex;
}
#card-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.8em;
}
#temp-range {
  display: flex;
  justify-content: space-around;
}
.underline {
  text-decoration: underline;
}
#card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#current-temp {
  font-size: 8em;
  font-weight: 300;
  margin: auto 0;
}
#location {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.main-title {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 4em;
  color: rgba(255,255,255,.8);
  text-shadow: 2px 2px 4px rgba(0,0,0,.15);
  opacity: 1;
  transition: all 500ms ease;
}
.main-title-hide {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 4em;
  opacity: 0;
  transition: all 500ms ease;
}